
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');


html , body {
    background-color: #34495e;
}

ul {
    text-align: center;
    display: flex;
    gap: 40px;
    text-decoration: none;
}

ul li {
    list-style-type: none;

    list-style-position: inside;
}

ul li a {
    background-color: orange;
    padding: 25px 25px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

ul li a:hover {
    background-color: #d35400;
    transition: all 0.3s;
}

h1 {
    margin-top: 30px;
    text-align: center;
    color: blueviolet;
}

.palestain-1 {

    color: white;
    text-align: justify;
    word-spacing: 8px;
    letter-spacing: 5px;
    line-height: 15px;
    text-transform: capitalize;
    text-shadow: -9px 4px 10px rgba(237,8,8,0.6);
} 

.palestain-2 {
    text-align: justify;
    font-family: "Bungee Tint", sans-serif;
}


.parent {
    background-color: #d35400;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
}

.child {
    margin-top: 40px;
    background-color: green;
    width: 300px;
    height: 300px;
    padding: 15px 15px;
    border: 2px dotted black;
    box-sizing: border-box;
    border-radius: 15px;
}